# Archivos generados por PyInstaller
KVConversor.exe
KVConversor.command
KVConversor

# Directorio de archivos temporales y de salida
__pycache__/
output/

# Archivos específicos del entorno de desarrollo de Python
*.pyc
*.pyo

# Carpeta de entorno virtual (si se utiliza)
venv/
env/

# Archivos de configuración específicos del usuario
*.ini
*.conf

# Carpeta de archivos temporales
.tmp/

# Archivo de registro
*.log

# Carpeta de construcción
build/
dist/
